mysqlclient==2.2.4
django<5.2
djangorestframework<3.16
djangorestframework-jsonapi==7.0.2
djangorestframework-jsonapi[django-filter]==7.0.2
djangorestframework-jsonapi[django-polymorphic]==7.0.2
djangorestframework-jsonapi[openapi]==7.0.2
drf-spectacular<0.28
drf-spectacular-jsonapi==0.4.1
gunicorn<24
